# Compiled output 
target/
*.class
*.jar
*.war

# Environment variables — KHÔNG commit lên Git 
.env
.env.local
.env.*.local

# IDE
.idea/
*.iml
.vscode/
.DS_Store

# Logs
*.log
logs/

# Maven
.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties

# Others
client_secret_580216887466-pg3vs3mnee92aedjlmd1queguqrkm17c.apps.googleusercontent.com.json
learnhub-dev_accessKeys.csv

application-local.yml